<div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Sucursales</h1></div>
      <div id="posttable" class="container">
        <table class="responsive-table striped hover centered" id="names-table">
          <thead>
            <tr>
              <th>Número de Sucursal:</th>
              <th>Nombre:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>1</a></td>
              <td><a>México Oriente</a></td>
              <td>
                <div class="btn-toolbar">
                  <a href="#">
                    <button class="btn yellow tooltipped" type="submit"  data-position="bottom" data-delay="50" data-tooltip="Editar">
                    <i class="material-icons">border_color</i>      
                    </button>
                  </a>
                  <a href="#">
                    <button class="btn red tooltipped" type="submit" data-position="bottom" data-delar="50" data-tooltip="Eliminar">
                    <i class="material-icons">remove</i>
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td><a>2</a></td>
              <td><a>Macro Plaza</a></td>
              <td>
                <div class="btn-toolbar">
                  <a href="#">
                    <button class="btn yellow tooltipped" type="submit" data-position="bottom" data-delay="50" data-tooltip="Editar">
                    <i class="material-icons">border_color</i>
                    </button>
                  </a>
                  <a href="#">
                    <button class="btn red tooltipped" type="submit" data-position="bottom" data-delar="50" data-tooltip="Eliminar">
                    <i class="material-icons">remove</i>
                    </button>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
    <div class="fixed-action-btn horizontal tooltipped" data-position="top" dattooltipped" data-position="top" data-delay="50" data-tooltip="Nueva Sucursal">
     <!--  <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a> -->
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

      <!-- <ul>
        <li><a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Handbook" href="#"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Staff Applications" href="#"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Name Guidelines" href="#"><i class="material-icons">publish</i></a></li>"
        <li><a class="btn-floating blue tooltipped" data-position="top" data-delay="50" data-tooltip="Issue Tracker" href="#"><i class="material-icons">attach_file</i></a></li>
        <li><a class="btn-floating orange tooltipped" data-position="top" data-delay="50" data-tooltip="Support" href="#"><i class="material-icons">person</i></a></li>
      </ul> -->
    </div>